<div class="container">
  <h1>Trabajando con formularios</h1>
  <h2>Formulario básico</h2>
  <app-form-basico></app-form-basico>
  <h2>Formulario básico con grupos</h2>
  <app-form-model-group></app-form-model-group>
  <h2>Formulario de facturas</h2>
  <app-form-facturas></app-form-facturas>
  <h2>Formulario de una dirección - Inicialización de campos -</h2>
  <app-form-una-direccion></app-form-una-direccion>
  <h2>Formulario bidireccional - Inicilización y recuperación - </h2>
  <app-form-dos-direcciones></app-form-dos-direcciones>
</div>
