<form #form="ngForm" (ngSubmit)="guardarEmpleado(form)" novalidate>
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      aria-describedby="nombreHelp" ngModel name="nombre"
    />
    <div id="nombreHelp" class="form-text">Introduce tu nombre.</div>
  </div>
  <div class="mb-3">
    <label for="apellidos" class="form-label">Apellidos</label>
    <input
      type="text"
      class="form-control"
      id="apellidos"
      aria-describedby="apellidosHelp" ngModel name="apellidos"
    />
    <div id="apellidosHelp" class="form-text">Introduce tus apellidos.</div>
  </div>
  <div class="mb-3">
    <label for="edad" class="form-label">Edad</label>
    <input
      type="number"
      class="form-control"
      id="edad"
      aria-describedby="edadHelp" ngModel name="edad"
    />
    <div id="edadHelp" class="form-text">Introduce tu edad.</div>
  </div>
  <div class="mb-3" ngModelGroup="direccion">
    <label for="calle" class="form-label">Calle</label>
    <input
      type="text"
      class="form-control"
      id="calle"
      aria-describedby="apellidosHelp" ngModel name="calle"
    />
    <div id="calleHelp" class="form-text">Introduce el nombre de la calle.</div>
    <label for="numero" class="form-label">Número</label>
    <input
      type="number"
      class="form-control"
      id="calle"
      aria-describedby="numeroHelp" ngModel name="numero"
    />
    <div id="calleHelp" class="form-text">Introduce el número.</div>
  </div>
  <button type="submit" class="btn btn-primary">Guardar usuario</button>
</form>
